<section class="p-5 about">
<div class="container-fluid">
  <div class="row text-md-center text-white">
    <div class="col m-4">
      <h1 class="display-4 mb-4">Tietoja Pelistä</h1>
      <div class="bi-type-underline"></div>
      <p class="lead">Kauhujen Yö on synkkä seikkailupeli, joka sijoittuu useita vuosia sitten tapahtuneen mysteerin selvittämiseen. Ratkaise arvoituksia ja hämmentäviä pulmia avataksesi ovia ja salaisia reittejä selviytyäksesi tai muuten joudut elämään loppuelämäsi ikuisessa painajaisessa.</p>
    </div>
  </div>
</div>
</section>
