@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
.about {
  font-family: "Comic Sans MS", cursive;
  background-color: #0c0e11
}
.underline {
  width: 200px;
  border: 3px solid #eee;
  margin: auto;
}

.common-title {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px whitesmoke;
  transition: all .5s;
  display: inline-block;
}
.common-title:hover {
  transform: translate(-5px, -3px);
  text-shadow: 2px 5px 20px whitesmoke;
}
.icons:hover {
  transition: all .5s;
  transform: translate(5px, 3px);
  display: inline-block;
}


