<section class="p-5 gunsntools">
  <div class="container-fluid">
    <div class="row text-center text-white">
      <div class="col m-4">
        <h1 class="display-4 mb-4 font-italic common-title">TYÖKALUT</h1>
        <div class="underline mb-4"></div>
        <p class="lead">Peli voi olla pelottava kokemus, jos sinulla ei ole parhaita selviytymisvälineitä. Näillä työkaluilla teet eron elämän ja kuoleman väliltä, sillä ne ratkaisevat selviytymisesi unesta.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 mx-auto tools">
      <a data-aos="fade-up-left" data-aos-duration="2000"><img src="assets/ak47.png" class="img fluid tool tool-1"></a>
        <a data-aos="fade-up-left" data-aos-duration="3000"><img src="assets/revolver.png" class="img fluid tool tool-2"></a>
        <a data-aos="fade-up-left" data-aos-duration="5000"><img src="assets/bullet.png" class="img fluid tool tool-3"></a>
        <a data-aos="fade-up-left" data-aos-duration="5000"><img src="assets/sword1.png" class="img fluid tool tool-4"></a>
      </div>
    </div>
  </div>
</section>
