@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


  .navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

  .navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
  }
 .nav-menu {
   background: black;
 }
  /* hide close when burger shown */


  .crossline{
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
  }

  header {
    height:100vh;
    background: url("../../assets/tausta2.jpg")no-repeat center center /cover;
  }

  .banner-heading {
    animation-name: anim;
    animation-duration: 2s;
  }

  .banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }

  .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  @keyframes anim {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

