<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"><!--i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;">-->
    <a href="#" class="navbar-brand">
      <img src="assets/skull.png" width="45" height="45" class="d-inline-block align-top" routerLink="/" alt=""></a>
    <a href="#" class="navbar-brand">Kauhujen Yö</a>


  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class=" nav navbar-nav text-small ml-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-youtube"></i>
        Youtube
      </a>
    </li>

    <li class="nav=item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-twitter"></i>
        Twitter
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-facebook"></i>
        Facebook
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-instagram"></i>
        Instagram
      </a>
    </li>
  </ul>
  </div>
  </div>
</nav>
  <div class="text-md-right text-center banner">
    <h1 class="display-4 banner-heading">Selvitä mysteeri ja pakene painajaisesta!</h1>
    <p class="lead banner-par">Lorem ipsum dolor sit</p>
  </div>

  <section class="p 5 values">
    <div class="container-fluid">
      <div class="row">
        <div class="col m-4">
        </div>
      </div>
    </div>
  </section>
</header>





