@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
.common-title {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px whitesmoke;
  transition: all .5s;
  display: inline-block;
}
.common-title:hover {
  transform: translate(-5px, -3px);
  text-shadow: 2px 5px 20px whitesmoke;
}
.custom-alert {
  width: 300px;
  margin: auto;
  top: 40%;
}

.modal-backdrop.in {
  opacity: 0.9;
}

.modal-body {
  background-color: whitesmoke;
  border-radius: 11px;
  box-shadow: 2px 2px 2px #9a9a9a;
}

.modal {
  background-color: rgba(58, 51, 51, 0.4);
  padding-top: 5px;
  box-shadow: 2px 2px 2px #9a9a9a;
}

.confirm-message {
  font-family: 'Helvetica', Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.btn-no {
  position: absolute;
  right: 5%;
  width: 35%;
  background-color: #cc262e;
  color: white;
}

.btn-yes {
  width: 40%;
  background-color: #12161d;
  color: white;
}

@media screen and (max-width: 640px) {
  .custom-alert {
    margin: auto;
    top: 40%;
  }
}
.wheel-button {
  position: fixed;
  bottom: 20px;
  right: 27px;
  z-index: 89;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: #757575;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.7;
}
.wheel-button:hover {
  background-color: #555;
}


.my-float{
  margin-top:22px;
}


.float{
  width:40px;
  height:40px;
  bottom:30px;
  right:30px;
  background-color: #cc8e1d;
  color: #000000;
  border-radius:50px;
  text-align:center;
  margin-inside: auto;
  align-content: center;
  box-shadow: 2px 2px 3px #000000;
  display: inline-flex;
  justify-content: center;

}


.my-float{
  font-size:14px;
  margin-top:10px;
}
.float:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(-5px, -3px);
  cursor: pointer;
}


