<section class="special-offer p-5">
  <div class="video-container">
    <video class="bg-video" autoplay muted loop>
      <source src="assets/forest.mp4"
              type="video/mp4">
      <source src="assets/forest.webm"
              type="video/webm">
      Browser is not supported
    </video>
  </div>

  <div class="container-fluid">
    <!-- title -->
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="text-white text-uppercase font-italic common-title">ERIKOIS&shy;TARJOUS</h1>
      </div>
    </div>

    <div class="row justify-content-around align-items-center">
      <div class="col-xl-3 col-lg-4 col-sm-8 rotate" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="card bg-secondary text-white text-center mb-3 tool-card mx-auto">
          <div class="card-header">
            <h4 class="font-weight-light">Sword Edition</h4>
          </div>
          <div class="card-body">
            <img src="assets/sword1.png" class="img-fluid rounded">
          </div>
          <div class="card-footer">
            Extra Swords
          </div>
          <div class="back card bg-secondary text-white">
            <div class="back-content">
              <h1 class="text-uppercase font-weight-light font-italic">Only for</h1>
              <h3 class="mb-3">€20</h3>
              <p><del>40€</del></p>
              <a href="#" class="btn btn-outline-danger px-4">Buy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-8 rotate" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="card text-white bg-dark text-center mb-3 tool-card mx-auto">
          <div class="card-header">
            <h4 class="font-weight-light">Bulletproof Edition</h4>
          </div>
          <div class="card-body">
            <img src="assets/bullet.png" class="img-fluid rounded">
          </div>
          <div class="card-footer">
            More Durable
          </div>
          <div class="back card text-white bg-dark">
            <div class="back-content">
              <h1 class="text-uppercase font-weight-light font-italic">Only for</h1>
              <h3 class="mb-3">€30</h3>
              <p><del>€60</del></p>
              <a href="#" class="btn btn-outline-danger px-4">Buy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-8 rotate" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="card bg-light text-center mb-3 tool-card mx-auto">
          <div class="card-header">
            <h4 class="font-weight-light">Revolver Edition</h4>
          </div>
          <div class="card-body">
            <img src="assets/revolver.png" class="img-fluid rounded">
          </div>
          <div class="card-footer">
            Increased Ammo Reserves
          </div>
          <div class="back card bg-light">
            <div class="back-content">
              <h1 class="text-uppercase font-weight-light font-italic">Only for</h1>
              <h3 class="mb-3">€99</h3>
              <p><del>€150</del></p>
              <a href="#" class="btn btn-outline-danger px-4">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

